<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs')%>
  <body>
    <%-include('./partials/nav.ejs')%>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, itaque at
        laudantium debitis ducimus accusantium ratione deserunt dicta vitae
        cupiditate similique repellendus, quo placeat accusamus quisquam dolorem
        quae. Facilis, quod.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque autem
        corporis, explicabo illo reiciendis laborum odit aliquid quasi non
        impedit, quam, ratione enim temporibus sequi sint incidunt iure
        architecto accusamus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
        perferendis eum consequuntur voluptas architecto non officiis quos
        veniam rem nemo unde ut harum quia, esse illum dolor magnam placeat
        exercitationem.
      </p>
    </div>
    
    <%-include('./partials/footer.ejs')%>
  </body>
</html>
